nav{
    
}
.imagenCab{
    -webkit-filter: blur(3px);filter: blur(3px);
    height: 500px;
    width: 100% !important;
    margin-bottom:250px;
}
@media only screen and (max-width: 1024px) and  (max-height: 1366px)  {
 .imagenCab{
     -webkit-filter: blur(0px);filter: blur(0px);
    height: 500px;
    width: 100% !important;
    margin-bottom:370px;
    }
    #nomCampa{
   
    padding-top: 100px;
}
}
@media only screen and (max-width: 1024px) and (max-height: 768px){
 .imagenCab{
     -webkit-filter: blur(0px);filter: blur(0px);
    height: 500px;
    width: 100% !important;
    margin-bottom:100px;  
    }
  #nomCampa{
   
    padding-top: 100px;
}
}

@media only screen and (max-width: 768px)and (max-height: 1024px){
.imagenCab{
    height: 890px;
    width: 100% !important;
    margin-bottom:280px;  
    }

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 350px;
}  
#nomCampa{
    padding-top: 100px;
}
}
@media only screen and (max-width: 414px) and (max-height: 736px){
.imagenCab{
    height:100% !important;
    width: 100% !important;
    padding-top: 100px;
    margin-bottom:300px;
    }
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 180px;
    
    }
video{
    height:500px !important;
}
#nomCampa {
    padding-top:10px;
    display: none;
}
}
@media only screen and (max-width: 736px)and (max-height:414px){
 .imagenCab{
    height: 500px;
    width: 100% !important;
    margin-bottom:1px;  
    }
}
@media only screen and (max-width: 375px)and (max-height:667px){
     .imagenCab{
    
    width: 100% !important;
    height: 50px !important;
    
    }
    .parallax-container {
    position: relative;
    overflow: hidden;
    height: 120px;
    
    }
}
video {
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100% !important;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
}
.logo{
    width:50px;
    padding-top:6px;
}

#nomCamp{
    font-family: 'Permanent Marker', cursive;
    -webkit-text-stroke: 0.9px black;
}
.header{
    font-size: 79px;
    -webkit-text-stroke: 2.5px black;
}
@media only screen and (max-width: 1024px) and  (max-height: 1366px)  {
    #nomCampa{
        font-family: 'Permanent Marker', cursive;
        -webkit-text-stroke: 2.5px black;
        padding-top: 100px;
    }
}
#nomCampa{
        font-family: 'Permanent Marker', cursive;
        -webkit-text-stroke: 2.5px black;
        padding-top: 100px;
    }
#nomInsc{
    font-family: 'Pacifico', cursive;
}
#opciones{
    min-width: 160px;
}
.dropdown-content{
    min-width: 160px;
    position: absolute;
    border:solid;
    
}
#menuH{
    position:fixed;
    right:0px;
    top:2px;
    height:50px;
    box-shadow: 0px 0px 0px #888888;

}
.tabs .indicator{
    background-color:#0277bd;
}
input[type=email]:focus:not([readonly]){
    border-bottom: 1px solid #0288d1;
    box-shadow: 0 1px 0 0 #0288d1;
   
}
input[type=password]:focus:not([readonly]){
    border-bottom: 1px solid #0288d1;
    box-shadow: 0 1px 0 0 #0288d1;
   
}
input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #0091ea;
    box-shadow: 0 1px 0 0 #0091ea;
}
input[type=text]:focus:not([readonly])+label{
    color:#0091ea;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #0091ea ;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #006064 ;
}
.input-field .prefix.active{
    color:#0091ea ;
} 
.validate:active{
    border-color:blue;
}
.linkM:hover{
    color:orange;
    text-decoration: none;
}
.linkM:visited{
    color:white;
    text-decoration: none;
}
.linkM:active{
    color:white;
    text-decoration: none;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}
form{
    width: 200px;
}
.form-group{
    padding:50px;
    
}

.form-group{
    padding-top: 25px;

}
.row .col.s9 {
    width: 60%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.collection{
  width: 50%;
  left:25%;
}
td, th{
    padding-right: -10px;
    text-align: center;
    width: 205px;
}
.cuerpo{
    height:auto;
}
footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
.titleside{
font-family: 'Permanent Marker', cursive;  
-webkit-text-stroke: .5px black;
}

main {
    flex: 1 0 auto;
}
.inscripcion{
    padding:50px;
    width:65%;
    height:auto;
    background:#FFF;
    margin:40px auto;
    webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}
.inscritos{
    padding:50px;
    width:75%;
    height:auto;
    background:#FFF;
    margin:40px auto;
    webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}
#enviarD{
    padding-top:50px;
    float:right;
}
.row .col {
    margin-top: 50px;
}
.pat1{
    width: 235px;
    
}
.pat2{
    width: 75px;
    
}
.iconos{
   -webkit-text-stroke: 2.5px black; 
}
h4{
    -webkit-text-stroke: 1.5px black;
    font-family: 'Permanent Marker', cursive;
}
footer.page-footer .footer-copyright{
    background-color: rgba(54,54,54,.3);
}

#letternav{
    font-family: 'Permanent Marker';
}
.cuerpo{
   padding:50px;
    width:75%;
    height:auto;
    background:#FFF;
    margin:40px auto;
    webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #777, 0 0 20px #CCC inset; 
}
.card{
    height: 300px;
}
.card-image{
    height: 300px;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}